cookiecutter==0.7.1
Django >= 1.4, < 1.5
lxml
requests
webob
simplejson
lazy
six

# XBlock
-e git+https://github.com/singingwolfboy/XBlock.git@5de0638#egg=XBlock

# Acid xblock
-e git+https://github.com/edx/acid-block.git@459aff7b63db8f2c5decd1755706c1a64fb4ebb1#egg=acid-xblock

fs
pypng
-e git+https://github.com/pmitros/django-pyfs.git@514607d78535fd80bfd23184cd292ee5799b500d#egg=djpyfs
